/****************
 * COLORS:
 * -------
 * rosado: #d827e7
 * celeste: #00d1ed
 * background (grey): #3e4356
 */
.primary-text-color {
  color: #b2b1b1!important;
}

@media only screen and (max-width: 767px) { /* Mobile Mode */
  .signup-btn {
    display: inline-block!important;
    margin-top: 2em!important;
    margin-bottom: 1em!important;
    margin-left: 45vw!important;
  }

  .card {
    margin-bottom: 3em;
  }
}

@media screen and (min-width: 768px) { /* Desktop Mode */
  .signup-btn {
    position: absolute;
  }
}

.jumbotron-us {
  background: url("../img/nosotros-banner.png") no-repeat;
  background-size: cover;
  background-position: center;
  text-shadow: 0 0 8px #000;
}

body {
  background-color: #3e4356 !important;
}

.nopadding {
  padding: 0;
}

.custom_bottom {
  padding-bottom: 100px;
}

.customnav {
  background-color: #3e4356 !important;
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
  box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
}

.img-logo {
  margin-top: 18px;
  margin-left: 12px;
  margin-right: -12px;
  margin-bottom: 18px;
}

.nav-link {
  padding: 24px 32px!important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #b2b1b1;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #19dafa!important;
}

.navbar-dark .navbar-nav .nav-link:hover {
  background: rgba(43,48,64,1);
  background: -moz-linear-gradient(top, rgba(43,48,64,1) 0%, rgba(31,34,46,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(43,48,64,1)), color-stop(100%, rgba(31,34,46,1)));
  background: -webkit-linear-gradient(top, rgba(43,48,64,1) 0%, rgba(31,34,46,1) 100%);
  background: -o-linear-gradient(top, rgba(43,48,64,1) 0%, rgba(31,34,46,1) 100%);
  background: -ms-linear-gradient(top, rgba(43,48,64,1) 0%, rgba(31,34,46,1) 100%);
  background: linear-gradient(to bottom, rgba(43,48,64,1) 0%, rgba(31,34,46,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b3040', endColorstr='#1f222e', GradientType=0 );
  border-radius: 6px;
  -webkit-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.75);
  color: #b2b1b1;
}

.carousel-caption {
  text-shadow: 2px 0 0 #000, 
              -2px 0 0 #000, 
               0 2px 0 #000, 
              0 -2px 0 #000, 
               1px 1px #000, 
           -1px -1px 0 #000, 
            1px -1px 0 #000,
            -1px 1px 0 #000;
}

.signup-btn {
  right: 80px;
  text-decoration: none;
  color: #ffffff;
  margin-top: 16px;
  border: 2px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(#3e4356, #3e4356), 
                    radial-gradient(circle at top left, #fd00da, #19d7f8);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.signup-btn span {
  display: block;
  padding: 8px 22px;
}

.signup-btn:hover {
  cursor: pointer;
  text-decoration: none;
  background-image: linear-gradient(#323645, #323645), 
                    radial-gradient(circle at top left, #19d7f8, #fd00da);
  color: #b2b1b1;

}

.fancy-btn {
  margin-left: 30px;
  display: inline-flex;
  color: #ffffff;
}

.fancy-btn:hover {
  text-decoration: none;
  color: #b2b1b1
}

.fancy-btn:hover .fancy-btn-inner {
  background-image: linear-gradient(#323645, #323645), 
                    radial-gradient(circle at top left, #19d7f8, #fd00da);
}

.fancy-btn:hover small {
  color: #fd00da;
}

.fancy-btn-inner {
  height: 50px;
  width: 50px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#3e4356, #3e4356), 
                    radial-gradient(circle at top left, #fd00da, #19d7f8);
  background-origin: border-box;
  background-clip: content-box, border-box;
  text-align: center;
}

small {
  margin: auto 20px;
  cursor: pointer;
  font-size: 12px;
  color: #19dafa;
  letter-spacing: 3px;
  float: left;
}

.fancy-btn-inner .fa {
  padding: 18px 0;
  font-size: 13px;
  cursor: pointer;
}

.card {
  border: 2px solid transparent;
  border-radius: 12px;
  background-image: linear-gradient(#fff, #fff), 
                    radial-gradient(circle at top left, #fd00da, #19d7f8);
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.75);
}

.card-body {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-position {
  color: #c7c7c7;
  margin-top: -10px;
}

.position-desc {
  color: #b2b1b1;
  font-weight: 200;
}

.card-mail {
  background: #ffffff;
  padding: 15px 30px;
  min-width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fill-in {
  object-fit: cover;
}

.our-team .fill-in {
  object-position: top;
}

.primary-title {
  color: #c7c7c7;
}

.branding-paragraph {
  color: #a8a8a6;
  text-indent: 4em;
}

.branding-title {
  color: #c7c7c7;
  padding: 5%;
  font-size: 40px;
  font-weight: 600;
  padding-top: 1.5em;
  padding-bottom: 0;
}

.branding-paragraph {
  padding-left: 5%;
  padding-right: 5%;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #919191;
  margin: 30px 0px 30px 0px;
  text-align: justify;
}

.footer {
  background-color: #2d3343;
  border-top: 2px solid #fd00da;
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.footer:first-child:before {
  content:'';
  position:absolute;
  width:100%;
  height:2px;
  background:linear-gradient(to left, #19d7f8, #fd00da);
  top:-2px;
  left:0;
}

.footer-text {
  color: #fff;
  padding-top: 30px;
  padding-bottom: 10px;
}

.footer-text a {
  color: #19d7f8!important;
}

.footer-text a:hover {
  text-decoration: none;
  cursor: pointer;
}

.img-landing {
  padding-top: 2em;
}

.dark-card {
  background-color: #19202b;
  color: white;
}
.custom-jumbotron {
  background-color: #3e4356;
  color: #ffffff;
}

.white-text {
  color: white;
}
